{% extends 'layout.html' %}
{% load my_tag %}
{% block content %}
    {% include 'side-bar.html' %}
    <div class="content">
        <div class="container">
            {#            {{ admin_class.model.objects.all }}#}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <form method="GET">
                        <div class="form-group">
                            <div class="row">
                                {% if admin_class.list_filters %}
                                    {# 循环获取需要显示的字段#}
                                    {% for condition in admin_class.list_filters %}
                                        {# 获取queryset#}
                                        {% get_field_obj condition admin_class as field_obj %}
                                        {# 获取选中的值 #}
                                        {% get_filter_conditions_condition filter_conditions condition as condition_val %}
                                        <div class="col-lg-2">
                                            <label class="control-label" for="inputSuccess1">{{ condition }}</label>
                                            <select class="form-control" name="{{ condition|judge_date }}">
                                                {% for val in field_obj %}
                                                    <option value="{{ val.0 }}"
                                                            {% if condition_val == val.0 %}
                                                            selected
                                                            {% endif %}
                                                    >{{ val.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endfor %}
                                    <div class="col-lg-2">
                                        <button style="margin-top: 22px;" type="submit" class="btn btn-primary">检索
                                        </button>
                                    </div>
                                {% endif %}
                                {% if admin_class.search_fields %}
                                    <!-- 搜索 -->
                                    <div class="col-lg-4">
                                        <div class="input-group" style="margin-top: 22px;">
                                            <input type="text" class="form-control" name="q" value="{{ request.GET.q }}"
                                                   placeholder="search by {% for field in admin_class.search_fields %}{{ field }},{% endfor %}">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default btn-primary" type="button">搜索</button>
                                          </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            {% for title in admin_class.list_display %}
                                <th>
                                    <a href="{% order_by_filter title request.GET.o request.GET.urlencode %}">{{ title }}</a>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {#                        {% get_query_sets admin_class as query_sets %}#}
                        {% for item in query_sets %}
                            <tr>
                                {% for title in admin_class.list_display %}
                                    <td>
                                        {% if forloop.first %}
                                            <a href="
                                                    {{ request.path }}{% build_table_row item title %}/change/">{% build_table_row item title %}</a>
                                        {% else %}
                                            {% build_table_row item title %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p>总共{{ query_sets.paginator.count }}条</p>
                </div>
            </div>
            <div>
                <nav>
                    <ul class="pagination">
                        {% if query_sets.has_previous %}
                            <li>
                                <a href="{% get_current_page_str request.GET.urlencode query_sets.number query_sets.number|add:-1 %}"
                                   aria-label="Previous"><span
                                        aria-hidden="true">上一页</span></a></li>
                        {% endif %}
                        {% for page in query_sets.paginator.page_range %}
                            
                            <li class="
                                {% if query_sets.number == page %}
                                    active
                                {% endif %}"
                            >
                                <a href="{% get_current_page_str request.GET.urlencode query_sets.number page %}">{{ page }}<span
                                        class="sr-only">(current)</span></a></li>
                        {% endfor %}
                        {% if query_sets.has_next %}
                            <li>
                                <a href="
                                        {% get_current_page_str request.GET.urlencode query_sets.number query_sets.number|add:1 %}"
                                   aria-label="Previous"><span
                                        aria-hidden="true">下一页</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}